# Server
DATABASE_URL=""
BETTERSTACK_API_KEY=""
BETTERSTACK_URL=""
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3000"

# Client
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_WEB_URL="http://localhost:3000"